<div class="card"
    style="width: fit-content;margin-left: auto;margin-right: auto; padding:1rem; margin-top: 3rem;margin-bottom: auto;">
    <div>
        <h3 class="text-center">
            Signup
        </h3>
        <form>
            <div class="form-outline mb-4">
                <label class="form-label" htmlFor="emailToLogin">
                    Email address
                </label>
                <input type="email" id="emailToLogin" class="form-control" required />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" htmlFor="passwordToLogin">
                    Password
                </label>
                <input type="password" id="passwordToLogin" class="form-control" required />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" htmlFor="passwordToLogin">
                    Age
                </label>
                <input type="password" id="passwordToLogin" class="form-control" required />
            </div>

            <button type="button" class="btn btn-success">
                SignUp
            </button>
        </form>
        <br>
        <p>
            <a href="/login">Already have an Account?</a>
        </p>
    </div>
</div>